<div class="container-fluid browse-body" data-ng-controller="TruloController" ng-init="getCategories()">       
            
    <md-content class="md-padding">
        <md-tabs md-border-bottom md-autoselect md-dynamic-height md-swipe-content>
            <md-tab label="Home">
                <md-tab-body>
                    <p>Display all the recommnedations</p>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab-button" ng-repeat="cat in categories" 
            md-on-select="fetchNextPage(cat.catID,0);setBreadArray(cat.title,0);scrollTop();getSubCat(cat.catID);">
                <md-tab-label>
                    {{cat.title}}
                </md-tab-label>

                <md-tab-body>
                    <div id="products-row" infinite-scroll="fetchNextPage(nextCategory,1)" infinite-scroll-disabled="busy">

                        <md-grid-list md-cols-lg="3" md-cols-xs="1" md-cols-gt="3" md-cols-md="2" md-cols-sm="1" md-gutter="5px" md-row-height="2:1">
                            <md-grid-tile ng-repeat="p in productsOfCurrentCat">
                                    <product data="p" id="product-item"></product>
                            </md-grid-tile> 
                        </md-grid-list>
                        <div ng-show="busy">Loading more products....</div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>    
</div>