<div class="container-fluid">       
            
    <md-content class="md-padding">
        <md-tabs md-border-bottom md-autoselect md-dynamic-height md-swipe-content md-selected="0">
            <!--<md-tab label="Home" md-active="activateHomeTab">
                <md-tab-body>
                    <p>Display all the recommnedations</p>
                </md-tab-body>
            </md-tab>-->
            <md-tab ng-repeat="cat in categories" ng-init="map[''+cat.catID] = $index" md-active="map[''+catParameter] == $index"
            md-on-select="fetchNextPage(cat.catID,0);scrollTop();getSubCat(cat.catID);showProducts(cat.catID);"
                    ng-click="showProducts(cat.catID)">
                <md-tab-label>
                    {{cat.title}}
                </md-tab-label>
                <md-tab-body>
                    
                    <div layout="row">
                        <md-menu id="sub-cat-button" ng-hide="hideMe">
                            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </md-button>
                            <md-menu-content width=6>
                                <md-menu-item ng-repeat="subCat in childCategories">
                                    <md-button ng-click="getSubCat(subCat.catID);showProducts(subCat.catID)">
                                        {{subCat.title}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        
                        <ol class="breadcrumb" ng-show="breadCrumbs != undefined">
                            <li>
                                <a  class="btn" href="" ng-click="showHomeTab()">Home</a>
                            </li>
                            <li ng-repeat="bread in breadCrumbs" class="active">
                                <a href="" ng-class="{'btn disabled':$last}" ng-click="showProducts(bread.catID)">
                                    {{bread.title}}
                                </a>
                            </li>
                        </ol>
                    </div>
                    
                    <div id="products-row" infinite-scroll="fetchNextPage(nextCategory,1)" infinite-scroll-disabled="noMoreData">
                        <!--<div ng-repeat="p in productsOfCurrentCat">
                            <center><h3 style="padding-bottom:100px">{{p.pname}}</h3></center>
                        </div>-->
                        <md-grid-list md-cols-lg="4" md-cols-xs="1" md-cols-gt="4" md-cols-md="3" md-cols-sm="2" md-gutter="5px" md-row-height="400px">
                            <md-grid-tile ng-repeat="p in productsOfCurrentCat">
                                    <product data="p" id="product-item" layout-fill></product>
                            </md-grid-tile> 
                        </md-grid-list>
                        <div ng-show="busy"><center>Loading more products....</center></div>
                        <div ng-show="noMoreData"><center>No more products folks!!</center></div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>    
</div>