<div ncy-breadcrumb></div>
<div class="container product-detail">
    <div layout="column">
        <md-card layout="row">
            <div flex="50">
                <img ng-src="img/{{product._id}}.jpg"  id="product-detail-image" alt="image caption">
                <!-- load the above image according to the product. For the time being static image loaded -->
            </div>
            <div layout="column" flex="50">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{product.pname}}</span>
                        <span class="md-subhead">{{product.brand}}</span>
                        <span class="md-subhead">₹ {{product.price.default_mrp}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{product.desc}}
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-xs="column" layout-margin>
                    <div flex-xs="80" layout="row" layout-margin>
                        <button flex-xs="20" class="btn btn-default" ng-click="add($event)">+</button>
                        <input flex-xs="40" class="form-control" ng-model="productCount" style="width:60px"/>
                        <button flex-xs="20" class="btn btn-default" ng-click="subtract($event)">-</button>
                    </div>            
                </md-card-actions>

            </div>
        </md-card>
        <div>
            <h4>Suggestions</h4>
        </div>
    </div> 
</div>