<div class ="thumbnail">
    <div class="bgimg">
        <div class="caption">
            <h2>{{product.id}}</h2>
            <h5>Category : {{product.catID}}</h5>

            <p>
                <a href="#" class="btn btn-primary" role="button" ng-click="plic.add()" align="center">+ </a>
                    {{ productCount }} 
                <a href="#" class="btn btn-default" role="button" ng-click="plic.subtract()" align="center">-</a>
            </p>
        </div>
    </div>
      
</div>