<div class ="thumbnail">
    <div class="bgimg">
        <div class="caption">
            <h2>{{product.id}}</h2>
            <h5>Category : {{product.cat_id}}</h5>

            <p>
                <a href="#" class="btn btn-primary" role="button" ng-click="plic.add()" ng-init="count=0" align="center">+ </a> 
                    {{ cnt }} 
                <a href="#" class="btn btn-default" role="button" ng-click="count = count - 1" align="center">-</a>
            </p>
        </div>
    </div>
      
</div>
 