<div class="container" ng-controller="HeaderController">

    <div class="navbar-header">
        <a ui-sref="home" class="navbar-brand">ePosro</a>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-icons" ui-sref-active="active" ng-hide="authentication.user">
                <a ui-sref="authentication.signin"><span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li class="dropdown navbar-icons" dropdown ng-show="authentication.user">
                <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                    <span class="glyphicon glyphicon-user" style="color:green"></span>
                </a>
                <ul class="dropdown-menu" role="menu" >
                    <li ui-sref-active="active">
                        <a ui-sref="settings.profile">Edit Profile</a>
                    </li>
                    <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                        <a ui-sref="settings.password">Change Password</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="settings.vendors">My Vendors</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="settings.reports">My Reports</a>
                    </li>
                    <li>
                        <a href="/api/auth/signout" target="_self">Signout</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-icons">{{cartCount}}<a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li class="navbar-icons"><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
        </ul>
    </div>


    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Product..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                </span>
            </div>
        </div>
    </form>


</div>

<!--
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
                <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
                    <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>

                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
                            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
                        </li>
                    </ul>

                    <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
                <li ui-sref-active="active">
                    <a ui-sref="authentication.signin"><span class="glyphicon glyphicon-user"></span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                        <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                        <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active">
                            <a ui-sref="settings.profile">Edit Profile</a>
                        </li>
                        <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                            <a ui-sref="settings.password">Change Password</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="settings.vendors">My Vendors</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="settings.reports">My Reports</a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="/api/auth/signout" target="_self">Signout</a>
                        </li>
                    </ul>
                </li>
            </ul>

-->