<div class="container" ng-controller="HeaderController">

    <div class="navbar-header">
        <a href="#" class="navbar-brand"><strong>ePosro</strong></a>


        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-icons" ui-sref-active="active" ng-hide="authentication.user">
                <a ui-sref="authentication.signin"><span class="glyphicon glyphicon-log-in"></span></a>
            </li>
            <li class="navbar-icons">
                <md-menu ng-show="authentication.user">
                    <md-button aria-label="menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <span class="glyphicon glyphicon-user" style="color:green"></span>
                    </md-button>

                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="profile" ui-sref-active="active">Edit Profile</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="orders" ui-sref-active="active">My Orders</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="/api/auth/signout" target="_self">Signout</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
            <li class="navbar-icons"><a ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart">{{cartCount}}  {{cartValue}}</span></a></li>
            <li class="navbar-icons"><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
        </ul>
    </div>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for Product..." />
                <span class="input-group-btn">
                    <button ui-sref="search" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </form>

    

</div>
