<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' ng-if="onGeoLoc()">
    <ui-gmap-marker idKey='marker.key' coords='marker.position' options='marker.options' events="marker.events" click="onClick()">
        <ui-gmap-window options="windowOptions">
            <div>
                {{windowOptions.title}}
            </div>
        </ui-gmap-window>
    </ui-gmap-marker>
</ui-gmap-google-map>
<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' ng-if="!onGeoLoc()">
    <ui-gmap-marker idKey='marker.key' coords='marker.position' options='marker.options' events="marker.events" click="onClick()">
        <ui-gmap-window options="windowOptions">
            <div>
                {{windowOptions.title}}
            </div>
        </ui-gmap-window>
    </ui-gmap-marker>
</ui-gmap-google-map>
