.navbar-icons{
	position:inline-block;
	float:left;
}
#product-item{
    width: 80%;
    height: 80%;
}
#products-row{  
    
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: -30px;
}

.sub-categories-row{
    position: relative;
    padding: 0px;
    margin-top: 7px;
    height: 10px;
    width: 100%;
}
/*body{
	padding-top:50px;
}*/
@media screen and (max-width: 768px) {
    body { padding-top: 70px; }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
.btn1{
	width:5px;
	height:10px;
}