/*.navbar-icons{
	position:inline-block;
	float:left;
}*/

#products-row{  
    
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: -30px;
}
.sub-categories-row{
    position: relative;
    padding: 0px;
    margin-top: 7px;
    height: 10px;
    width: 100%;
}
/*@media screen and (max-width: 768px) {
    body { padding-top: 70px; }
}*/
/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}*/
.btn1{
	width:5px;
	height:10px;
}
.product-detail{
	padding-top:20px;
}
.cart{
	padding-top : 20px;
}
#footer {
    width: 100%;
    height: 60px;
   
    position: fixed;
    bottom: 0;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
#content {
    margin: 0 auto;
    padding: 60px 0;
}
#epheader{
	width:100%;
}
/*.fav-button{
	border-radius: 60px 60px 60px 60px;
}
*/
.product{
	padding-left : 20px;
}
#product-image{
	width:150px;
	height: 150px;
}
#product-name{
	text-align: center;
}
/*.product-image img{
	height:50%;width:70%
}*/
#price{
	text-align: center;
}

/*#add-remove-buttons{
	width: 50%;
    margin: 0 auto; 
}*/
#product-info{
	margin-top:-30px;
}
#add-to-cart-button{
	text-align:center;
}
#product-detail-image{
	text-align: center;
	width:40%px;
	height:80%px;
}